h1{
    color:gold;
    font-style: italic;
}  

.header{
    background-color: rgb(154, 109, 196);
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
h2,h4,p{
    text-align: center
}

